
/* Content Layout */
.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Search Bar */
.search-container {
    margin-left: 850px;
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
}

.search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container i {
    position: absolute;
    right: 10px;
    color: gray;
}

/* Inventory List - Full Width */
.inventory-list {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: auto;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f5f5f5;
}